.wrap {
  background: url(../img/index/bg.jpg);
  height: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid #fff;
}

.header__logo {
  float: left;
  width: 139px;
  height: 37px;
  background: url(../img/index/logo.png);
  margin-top: 20px;
}

.header__login {
  float: right;
  color: #fff;
}

.header__login:hover {
  color: #fff;
}

.header__login:link {
  color: #fff;
}

.content {
  width: 100%;
  height: 260px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -130px;
}

.content__tt {
  font-size: 18px;
  line-height: 33px;
  margin-bottom: 109px;
}

.content__taste {
  width: 160px;
  height: 45px;
  line-height: 45px;
  background: #33CC66;
  display: inline-block;
  color: #ECECEC;
  border-radius: 2px;
}

.content__taste:hover {
  color: #fff;
  background: #36b962;
}

.feture {
  margin-bottom: 80px;
  text-align: justify;
}

.feture li {
  text-align: center;
  display: inline-block;
}

.feture__line:after {
  transition: width 0.5s;
  content: " ";
  width: 33px;
  height: 5px;
  background: #33CC66;
  display: inline-block;
  margin-bottom: 35px;
}

.feture__line--active:after {
  width: 65px;
}

.feture .iconfont {
  font-size: 93px;
  color: #33CC66;
  display: block;
}

.feture__tt {
  font-size: 24px;
  line-height: 33px;
  color: #444;
  margin-bottom: 23px;
}

.feture__intro {
  font-size: 18px;
  line-height: 32px;
  color: #444;
  margin-bottom: 39px;
}

.feture__taste {
  width: 101px;
  height: 37px;
  line-height: 37px;
  border: 1px solid #33CC66;
  color: #33CC66;
  display: inline-block;
  border-radius: 2px;
}

.feture__taste--active {
  background: #33CC66;
  color: #fff;
}

.feture__taste:hover {
  color: #fff;
  background: #36b962;
}

.justify-fixed {
  width: 100%;
  display: inline-block;
  height: 0;
  overflow: hidden;
}

.footer__tt {
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 14px;
  color: #9A9A9A;
}

.sign {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sign__layer {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.3);
}

.sign__box {
  position: absolute;
  width: 961px;
  height: 402px;
  top: 50%;
  left: 50%;
  margin-left: -480.5px;
  margin-top: -201px;
  background: #313131;
}

.sign__container {
  position: relative;
  box-shadow: 1px 14px 70px 2px rgba(0, 0, 0, 0.41);
  width: 100%;
  height: 100%;
  background: #313131;
}

.sign__move {
  position: absolute;
  box-shadow: 1px 14px 70px 2px rgba(0, 0, 0, 0.41);
  width: 517px;
  height: 443px;
  top: -20px;
  left: 30px;
  background: #fff;
}

.sign__left {
  float: left;
  margin-left: 55px;
}

.sign__left h1 {
  font-size: 20px;
  color: #fff;
  margin-top: 80px;
  margin-bottom: 56px;
}

.sign__left p {
  font-size: 16px;
  line-height: 33px;
  color: #eee;
}

.sign__left a {
  margin-top: 100px;
  float: left;
  width: 102px;
  height: 46px;
  line-height: 46px;
  background: #33CC66;
  border-radius: 2px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  letter-spacing: 4px;
}

.sign__left a:hover {
  background: #36b962;
}

.sign__right {
  float: right;
  margin-right: 55px;
}

.sign__right h1 {
  font-size: 20px;
  color: #fff;
  margin-top: 80px;
  margin-bottom: 56px;
}

.sign__right p {
  font-size: 16px;
  line-height: 33px;
  color: #eee;
}

.sign__right a {
  margin-top: 100px;
  float: right;
  width: 102px;
  height: 46px;
  line-height: 46px;
  background: #33CC66;
  border-radius: 2px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  letter-spacing: 4px;
}

.sign__right a:hover {
  background: #36b962;
}

.sign .move__login {
  padding: 40px;
}

.sign .move__login h1 {
  color: #36B962;
  font-size: 30px;
}

.sign .move__login p {
  font-size: 16px;
  margin-top: 120px;
}

.sign .move__login-btn {
  display: inline-block;
  width: 102px;
  height: 46px;
  line-height: 46px;
  background: #313131;
  font-size: 18px;
  color: #fff;
  text-align: center;
  letter-spacing: 4px;
  border-radius: 2px;
}

.sign .move__login-and {
  margin: 0 15px;
  color: #747474;
}

.sign .move__login-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.sign .move__login-icon i {
  font-size: 34px;
  color: #747474;
}

.sign .move__register {
  padding: 40px;
  display: none;
}

.sign .move__register h1 {
  color: #36B962;
  font-size: 30px;
}

.sign .move__register p {
  font-size: 16px;
  margin-top: 30px;
}

.login__form {
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* HIGHLIGHTER ================================== */
  /* active state */
}

.login__form-forget {
  font-size: 14px;
  color: #737373;
  float: right;
  margin-top: 23px;
  margin-right: 10px;
}

.login__form .group {
  position: relative;
  margin-top: 45px;
}

.login__form .group:first-child {
  margin-top: 30px;
}

.login__form input {
  font-size: 18px;
  padding: 10px 10px 5px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #585858;
}

.login__form input:focus {
  outline: none;
}

.login__form label {
  color: #313131;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.login__form input:focus ~ label,
.login__form input:valid ~ label {
  top: -10px;
  font-size: 14px;
  color: #36B962;
}

.login__form .bar {
  position: relative;
  display: block;
  width: 100%;
}

.login__form .bar:before,
.login__form .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #36B962;
  transition: 0.2s ease all;
}

.login__form .bar:before {
  left: 50%;
}

.login__form .bar:after {
  right: 50%;
}

.login__form input:focus ~ .bar:before,
.login__form input:focus ~ .bar:after {
  width: 50%;
}

.login__form .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.login__form input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: #33CC66;
  }

  to {
    width: 0;
    background: transparent;
  }
}

.register__form {
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* HIGHLIGHTER ================================== */
  /* active state */
}

.register__form .group {
  position: relative;
  margin-top: 20px;
}

.register__form .group:first-child {
  margin-top: 10px;
}

.register__form input {
  font-size: 18px;
  padding: 10px 10px 5px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #585858;
}

.register__form input:focus {
  outline: none;
}

.register__form label {
  color: #313131;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.register__form input:focus ~ label,
.register__form input:valid ~ label {
  top: -10px;
  font-size: 14px;
  color: #36B962;
}

.register__form .bar {
  position: relative;
  display: block;
  width: 100%;
}

.register__form .bar:before,
.register__form .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #36B962;
  transition: 0.2s ease all;
}

.register__form .bar:before {
  left: 50%;
}

.register__form .bar:after {
  right: 50%;
}

.register__form input:focus ~ .bar:before,
.register__form input:focus ~ .bar:after {
  width: 50%;
}

.register__form .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.register__form input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: #33CC66;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes moveLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes moveRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.ani {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.ani-moveLeft {
  animation-name: moveLeft;
}

.ani-moveRight {
  animation-name: moveRight;
}